<!DOCTYPE html>
<html>
<head>
    <title>Read More</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
    <h1>Read More</h1>
    <h2><%= post.title %></h2>
    <p><%= post.description %></p>
    <p>Date: <%= post.date %></p>
    <form action="/" method="get">
        <button type="submit">Home</button>
    </form>
</body>
</html>
